<ion-header>
  <ion-navbar color="dark" text-center>
    <ion-title>
      GUIRAO
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid id="menu-principal">
    <ion-row>
      <ion-col col-6>
        <button color="dark" default ion-button icon-start block
                margin-bottom  outline
                (click)="irPaginaPedidos()">

          <ion-icon name="clipboard"></ion-icon>
          Pedido

        </button>
      </ion-col>
      <ion-col col-6>
        <button  color="dark" ion-button icon-start block
                 margin-bottom outline
                 >

          <ion-icon name="logo-usd"></ion-icon>
          Nota de credito

        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button color="dark" ion-button icon-start
                margin-bottom block outline
                (click)="irPaginaProductos()">

          <ion-icon name="cart"></ion-icon>
          Productos

        </button>
      </ion-col>
      <ion-col col-6>
        <button color="dark" ion-button icon-start
                margin-bottom block outline
                (click)="irPaginaClientes()">

          <ion-icon name="contacts"></ion-icon>
          Clientes

        </button>
      </ion-col>
      <ion-col col-6>
        <button color="dark" ion-button icon-start
                margin-bottom block outline
                (click)="irPaginaResumen()">

          <ion-icon name="book"></ion-icon>
          Resumen

        </button>
      </ion-col>
      <ion-col col-6>
        <button color="dark" ion-button icon-start
                margin-bottom block outline
                (click)="irPaginaAjustes()">

          <ion-icon name="settings"></ion-icon>
          Ajustes

        </button>
      </ion-col>
      <ion-col col-12>
        <img src="assets/imgs/guirao.png" alt="Guirao Mayorista">
      </ion-col>
    </ion-row>
  </ion-grid>








</ion-content>
