<!--
  Generated template for the PedidosModalClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons left>
      <button ion-button icon-only color="light"
              (click)="cerrarModal()">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Elegir Filtros</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Tipo</ion-label>
    <ionic-selectable item-content [(ngModel)]="filtroTipoProducto" itemValueField="descripcion" itemTextField="descripcion"
                       [canSearch]="true" [items]="tipos">
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label>Familias</ion-label>
    <ionic-selectable item-content [(ngModel)]="filtroFamiliaProducto" itemValueField="descripcion" itemTextField="descripcion"
                       [canSearch]="true" [items]="familias">
    </ionic-selectable>
  </ion-item>
  <ion-item>
    <ion-label>Marcas</ion-label>
    <ionic-selectable item-content [(ngModel)]="filtroMarca" itemValueField="descripcion" itemTextField="descripcion"
                       [canSearch]="true" [items]="marcas">
    </ionic-selectable>
  </ion-item>
</ion-content>