<<<<<<< HEAD
  <ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons right>
        <button ion-button icon-only color="light"
                (click)="openModalFiltros()">
          <ion-icon name="funnel"></ion-icon>
        </button>
    </ion-buttons>
    <ion-navbar color="dark">
      <ion-title text-center>PRODUCTOS</ion-title>
    </ion-navbar>
  </ion-toolbar>
=======
<ion-header>
  <ion-navbar color="dark">
    <!-- <ion-icon name="menu" (click)="openMenu()" color="light" size="large" slots="start"></ion-icon> -->
    <ion-title text-center>PRODUCTOS</ion-title>
  </ion-navbar>
>>>>>>> 06843cb68d5e053cdeb0404f7c251d937a884179

</ion-header>


<!-- menu de MARCAS -->

  <ion-menu side="start" menuId="marca" [content]="productos">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu Seleccción</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-label style="background-color: lightblue; font-size: 25px; color: black;">Marca productos</ion-label>
      <ion-list *ngFor="let marca of marcas">
        <ion-item (click)="agregaMarca(marca)"> {{ marca.descripcion }} </ion-item>
      </ion-list>
    
        <ion-label style="background-color: lightblue; font-size: 25px; color: black;">Familia productos</ion-label>
      <ion-list *ngFor="let familia of familiaProd">
        <ion-item (click)="agregaFamiliaProd(familia)"> {{ familia.descripcion }} </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- menu de FAMILIA -->
  <!-- <ion-menu side="start" menuId="familia" [content]="productos">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Productos Familia</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-label>Familia productos</ion-label>
      <ion-list *ngFor="let familia of familiaProd">
        <ion-item (click)="agregaFamiliaProd(familia)"> {{ familia.descripcion }} </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->


<ion-content #productos>
  <button ion-button (click)="openMenu()" color="light" slot="start" class="ion-padding">Marca</button>
  <!-- <button ion-button (click)="openMenu2()" color="tertiary" slot="start" class="ion-padding">Familia</button>
  <button ion-button (click)="openMenu()" color="secondary" slot="start" class="ion-padding">Tipo</button> -->

  <!-- tags de MARCAS -->
  <ion-label no-border *ngIf="addMarcasLista.length > 0" padding>
    <h4 color="primary">Marcas</h4>
    <ion-list>
      <ion-chip color="dark" outline="true" *ngFor="let item of addMarcasLista, let i= index">
        <ion-label> {{item.descripcion}} </ion-label>
        <ion-icon name="close-circle" style="background-color: black" (click)="quitarMarca(item.id, i)"></ion-icon>
      </ion-chip>
    </ion-list>
  </ion-label>

   <!-- tags de FAMILIA -->
   <ion-label no-border *ngIf="addMarcasLista.length > 0" padding>
      <h4 color="primary">Familia Productos</h4>
      <ion-list>
        <ion-chip color="dark" outline="true" *ngFor="let item of FamiliaProductoLista, let i= index">
          <ion-label> {{item.descripcion}} </ion-label>
          <ion-icon name="close-circle" style="background-color: black" (click)="quitarFamiliaProd(item.id, i)"></ion-icon>
        </ion-chip>
      </ion-list>
    </ion-label>


  <ion-searchbar [type]="type" #searchbar placeholder="Buscar" [(ngModel)]="searchTerm"
    (ionInput)="setProductosFiltrados()"></ion-searchbar>
  <ion-item>
<<<<<<< HEAD
      <ion-label>Buscar por:</ion-label>
      <ion-select [(ngModel)]="buscarProductosPor" interface="popover" (ionChange)="tipoDeBusqueda()">
        <ion-option selected value="nombre" >Nombre</ion-option>
        <ion-option value="codigo">Codigo</ion-option>
      </ion-select>

=======
    <ion-label>Buscar por:</ion-label>
    <ion-select [(ngModel)]="buscarProductosPor" interface="popover" (ionChange)="tipoDeBusqueda()">
      <ion-option selected value="nombre">Nombre</ion-option>
      <ion-option value="codigo">Codigo</ion-option>
      <ion-option disabled value="marca">Marca</ion-option>
    </ion-select>
>>>>>>> 06843cb68d5e053cdeb0404f7c251d937a884179
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let stock of stocks | slice:0:50; let i=index">
      <h2 text-lowercase text-capitalize> {{ stock.producto.descripcion }}</h2>
      <p>Codigo: {{ stock.producto.codigo }} Marca: {{ stock.producto.marca.descripcion }}</p>
      <p>Precio: {{ stock.producto.precioCompra }}</p>
    </ion-item>
  </ion-list>

</ion-content>
